<mat-sidenav-container>
  <mat-sidenav #snav>
      <div    class="loader"
      role="status" *ngIf= "loader"  >
        </div>

    <mat-list  *ngIf="!loader"  >
      <img src="https://firebasestorage.googleapis.com/v0/b/angular-c4826.appspot.com/o/image%20(1).png?alt=media&token=19acc0f7-7c54-4131-9530-e361be4b956b" alt="">

      <div *ngFor="let item of navMune.children">
        <div *ngIf="item.children.length>0 else hasNoChildren">
          <mat-list-item >
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <div matListItemTitle class="item-text">{{ item.displayName }}</div>
          </mat-list-item>

            <div *ngFor="let childItem of item.children">
              <a [routerLink]="[childItem.route]" *ngIf="childItem.role ===userData.role || childItem.role.length===0">
                <mat-list-item class="child-items">
                  <mat-icon matListItemIcon>{{ childItem.icon }}</mat-icon>
                  <div  matListItemTitle class="item-text">{{ childItem.displayName }}</div>
                </mat-list-item>
              </a>
            </div>

        </div>



        <ng-template #hasNoChildren>
          <a [routerLink]="[item.route]"*ngIf="item.role ===userData.role || item.role.length===0">
            <mat-list-item>
              <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
              <div matListItemTitle class="item-text">{{ item.displayName }}</div>
            </mat-list-item>
          </a>
        </ng-template>
      </div>

    <button  class="btn" mat-button (click)="onLoggedoutClicked()">
      <mat-icon class="icon-logout">logout</mat-icon> Log Out</button>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar>

      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon style="color: rgb(124, 27, 72);font-size: larger;">menu</mat-icon>
      </button>
      <span class="logo"></span>
      <span class="example-icon"></span>

    </mat-toolbar>

    <main>
      <div class="mat-elevation-z8 content">
        <router-outlet></router-outlet>
      </div>

    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

