img {
  width: 100%;
  height: auto;
  display: none;
  vertical-align: middle;
max-height: 400px;
background-size: cover;
}

img.active {
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;

}
@keyframes active {
  from {opacity: .4}
  to {opacity: 1}
}

