<section>
  <div class="container">
<div class="signin-signup">
<form  [formGroup]="formGroup" class="sign-up-form">
<h2 class="title">Sign up</h2>
<div class="input-field">
<i  class="bi bi-person..."></i>
<input type="text" placeholder="Username"  formControlName="name" >
</div>
<div *ngIf="name.invalid && name.touched">You must enter a value </div>
<div class="input-field">
<i class="fas "></i>
<input type="number" placeholder="Age"  formControlName="age" >
</div>
<div *ngIf="age.invalid && age.touched"> You must enter a value </div>
<div class="input-field">
<i class="fas fa-envelope"></i>
<input type="email" placeholder="Email"  formControlName="email" [ngClass]="(email.touched && email.invalid )?'error-input':''">
</div>
<div class="must"  *ngIf="email.touched &&email.invalid">{{getEmailErrorMessage()}}</div>


<div class="input-field">
<i class=""></i>

<input [type]=" changetype?'password':'text'" placeholder="Password"  formControlName="password" [ngClass]="(password.touched && password.invalid )?'error-input':''" >
<span class="eye" (click)="viewpass()">
  <i [ngClass]= "visible?'bi bi-eye':'bi bi-eye-slash' " ></i>
  </span></div>

<div  *ngIf="password.touched && password.invalid">{{getPasswordErrorMessage()}}</div>

<div class="input-field">
  <i class=""></i>
  <input [type]=" changetype?'password':'text'" formControlName="confirmPassword" placeholder="Confirm password"
  [ngClass]="(password.touched && password.invalid )?'error-input':''"  />
 <span class="eye" (click)="viewpass()">
 <i [ngClass]= "visible?'bi bi-eye':'bi bi-eye-slash' " ></i>
 </span></div>
  <div  *ngIf="password.touched && password.invalid">{{getPasswordErrorMessage()}}</div>



<input type="submit" value="Sign up" class="btn" (click)="onSignupClicked()" >
<a  style="font: size 4px; font-weight:800; " (click)="onClicked()" >Back</a>
</form>
</div>
</div>
</section>
