<section>
  <div class="container">
<div class="signin-signup">
<form  [formGroup]="formGroup" class="sign-up-form">
<h2 class="title">Sign up</h2>
<div class="input-field">
<i class="fas fa-user"></i>
<input type="text" placeholder="Username"  formControlName="name" >
</div>
<div *ngIf="name.invalid && name.touched">You must enter a value </div>
<div class="input-field">
<i class="fas fa-age"></i>
<input type="number" placeholder="Age"  formControlName="age" >
</div>
<div *ngIf="age.invalid && age.touched"> You must enter a value </div>
<div class="input-field">
<i class="fas fa-envelope"></i>
<input type="email" placeholder="Email"  formControlName="email" [ngClass]="(email.touched && email.invalid )?'error-input':''">
</div>
<div class="must"  *ngIf="email.touched &&email.invalid">{{getEmailErrorMessage()}}</div>


<div class="input-field">
<i class="fas fa-lock"></i>
<input type="password" placeholder="Password"  formControlName="password" [ngClass]="(password.touched && password.invalid )?'error-input':''" >
</div>

<div  *ngIf="password.touched && password.invalid">{{getPasswordErrorMessage()}}</div>
<div class="input-field">
  <i class="fas fa-lock"></i>
  <input type="password" formControlName="confirmPassword" placeholder="Confirm password" [ngClass]="(password.touched && password.invalid )?'error-input':''"  /></div>
  <div  *ngIf="password.touched && password.invalid">{{getPasswordErrorMessage()}}</div>


<input type="submit" value="Sign up" class="btn" (click)="onSignupClicked()" >
</form>
</div></div>
</section>
