h2{
  display: flex;
  justify-content: center;
  padding: 40px  0 0 0;
  font-size: 1.5rem;
  color: rgb(124, 27, 72);
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
flex-direction: row;
gap: 20px;
flex-wrap: wrap;
padding: 20px;
padding-bottom: 40px;
}

.card{
  width: 300px;
  height: 74px;
  border-radius: 24px;
}

img{
  width: 50px;
  height: 50px;
margin:10px;
}

.content{
  display: flex;
  flex-direction: row;
}
.contentBx{
justify-content: center;
padding: 18px  18px 0 6px  ;
}
section{

    background:rgb(230, 196, 212);}
