<app-header> </app-header>


<section>
  <h2>Services</h2>
  <div class="container">

    <div class="card" >
      <img src="https://firebasestorage.googleapis.com/v0/b/angular-c4826.appspot.com/o/images%20(3).jpg?alt=media&token=74525db2-fd44-40a5-b47e-082c27d72a51" alt="photo">
      <div class="card-container ">

        <p>Many Sectors In Jordan</p>
      </div>
    </div>
    <div class="card" >
      <img src="https://firebasestorage.googleapis.com/v0/b/angular-c4826.appspot.com/o/images%20(3).jpg?alt=media&token=74525db2-fd44-40a5-b47e-082c27d72a51" alt="photo">
      <div class="card-container ">

        <p> Many Startups In Jordan</p>
      </div>
    </div>
    <div class="card" >
      <img src="https://firebasestorage.googleapis.com/v0/b/angular-c4826.appspot.com/o/images%20(3).jpg?alt=media&token=74525db2-fd44-40a5-b47e-082c27d72a51" alt="photo">
      <div class="card-container ">

        <p>Add Your Company And Share Startups</p>
      </div>
    </div>
  </div>
</section>

<app-list-sectors></app-list-sectors>
<app-preview-startup></app-preview-startup>
<app-footer></app-footer>
