<section class="header">
  <nav class="" [ngClass]="fixedNavBar ? 'header_fixed' : 'nav'">
    <div class="left">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/angular-c4826.appspot.com/o/image%20(1).png?alt=media&token=19acc0f7-7c54-4131-9530-e361be4b956b"
        alt=""
      />
    </div>
    <div class="right">
      <div
        class="nav-links"
        [class.menuClass]="menuVariable"
        [class.menu_icon_Class]="menu_icon_variable"
      >
        <button
          id="icon"
          class="btn-close btn-close"
          style="
            color: rgb(7, 4, 24);
            border: none !important;
            margin-bottom: 0;
            margin-top: 30px;
            font-size: 18px;
          "
          (click)="open_closeMenu()"
        ></button>

        <ul class="">
          <li><a [routerLink]="'.'"> HOME </a></li>
          <li><a [routerLink]="'.'" fragment="about-section">ABOUT US </a></li>
          <li><a [routerLink]="'.'" fragment="startups">STARTUPS </a></li>
          <li><a [routerLink]="'.'" fragment="sectors">SECTORS </a></li>


          <li class="auth-btns-above700">
            <a [routerLink]="['/auth/signup']">SIGN UP</a>
          </li>
          <li class="auth-btns-above700">
            <a [routerLink]="['/auth/login']">LOG IN</a>
          </li>

          <li class="auth-btns">
            <a class="btn-1" [routerLink]="['/auth/signup']" type="submit"
              >SIGN UP</a
            >
          </li>
          <li class="auth-btns">
            <button
              class="btn"
              mat-raised-button
              [routerLink]="['/auth/login']"
              type="submit"
            >
              LOG IN
            </button>
          </li>
        </ul>
      </div>

      <i
        id="icon"
        class="bi bi-list"
        style="color: rgb(124, 27, 72)"
        (click)="open_closeMenu()"
      ></i>
    </div>
  </nav>

  <div class="text-box">
    <h1>Welcome To Startups Jo</h1>

    <p>
      Discover the startups that will shape our future. Contact them. Invest in
      them. Use their services. Read their news Or give them your support Or add
      your startup.
    </p>
    <a [routerLink]="['/auth/signup']"> Get Started </a>
  </div>
</section>
