<section class="header">
<nav class=""  >
  <div class="left">
    <img src=" https://firebasestorage.googleapis.com/v0/b/angular-c4826.appspot.com/o/png-transparent-zara-fashion-clothes-clothing-brands-and-logos-icon.png?alt=media&token=4545ac12-2cac-46f4-8a6c-26e5cad74c4c" alt="">
  </div>
  <div class="right">

    <div class="nav-links" [class.menuClass] ="menuVariable"  [class.menu_icon_Class] ="menu_icon_variable" >

      <button  id= "icon"   type="button" class="btn-close btn-close-white"

       (click)="open_closeMenu()" ></button>

      <ul class="">
        <li><a href=""> HOME</a></li>
        <li><a href=""> SECTORS</a></li>
        <li><a href=""> STARTUPS</a></li>

          <li class="auth-btns-above700"><a [routerLink]="['/auth/signup']" >SIGN UP</a></li>
          <li  class="auth-btns-above700"><a [routerLink]="['/auth/login']" >LOG IN</a></li>


        <li class="auth-btns"> <button class="btn" mat-raised-button color="primary" [routerLink]="['/auth/login']" type="submit">LOG IN</button></li>
        <li class="auth-btns"> <button    class="btn-1" mat-button color="primary"  [routerLink]="['/auth/signup']" type="submit">SIGN UP</button></li>

      </ul>

    </div>

<i  id= "icon"   class="bi bi-list"     (click)="open_closeMenu()"></i>
  </div>


</nav>
<div class="text-box">
<h1>Startups Jo</h1>

<p>Discover the startups that will shape our future.<br>
   Contact them. Invest in them. Use their services.<br>
    Read their news Or give them your support <br>
    Or add your startup.<br></p>
<a  [routerLink]="['/auth/signup']" > Get Started </a>
</div>


</section>












<!--<button  mat-button color="primary" [routerLink]="['/auth/signup']" type="submit">SIGN UP</button>


                 <button class="btn" mat-raised-button color="primary" [routerLink]="['/auth/login']" type="submit">LOG IN</button>-->
