


form{
  display: flex;
  flex-direction: column;
  gap: 18px;


}


   .example-container {
    margin-left: 8px;
display: flex;
flex-direction: row;


  }
#file{
  display: none;
}
.logo{
  height: 100px;
  width: 100px;
  margin: 10px 0;
  padding: .7rem;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
 border-radius: 50%;
 border: 1px rgb(136, 103, 199);
 font-size: 1.3rem;
 font-weight: 600px;
 justify-content: center;
 align-items: center;

}
