
<div class="start">
  <h2>Discover Jordan's<br> cutting-edge<br> and inspiring startups.</h2>
  <section>
    <div class="container">
      <div class="card" *ngFor="let item of obs| async">
        <div class="content">
          <div class="imgBx">
            <img [src]="item.logo" />
          </div>
          <div class="contentBx">
            <h3>{{ item.name }}</h3>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <mat-paginator     [hidePageSize]="hidePageSize" [pageSizeOptions]="[4, 8, 12]" >
  </mat-paginator>

  </div>
