h2{
  display: flex;
  justify-content: center;
  padding: 40px  0 0 0;
  font-size: 1.4rem;
  color: rgb(54, 49, 82);
text-align: center;


margin: 0;

}
.start {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
background-color: #ffffff;
  flex-direction: column;
}

section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	clip-path: circle(30% at right 70%);

}

section::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	clip-path: circle(20% at 10% 10%);
}

.container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;



}

.container .card {
	position: relative;
	width: 200px;
	height: 200px;
	background: white;
	margin: 20px;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);

}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .imgBx {
	position: relative;
	width: 100px;
	height: 80px;
	overflow: hidden;
}

.container .card .content .imgBx img {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;

}

.container .card .content .contentBx h4 {
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 10px;
	text-align: center;
	margin: 10px 0 10px;
	line-height: 1.1em;

}


mat-paginator{
padding: 0;

margin: 0;
}
button{
  position: absolute;
  top: 116%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 12x;
  padding: 4px 24px;
  width: 140px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

button:hover{
background-color: rgb(124, 27, 72);
  color: white;
}
