
<div class="start">
  <h2>Discover Jordan's<br> cutting-edge<br> and inspiring startups.</h2>
  <section>
    <div class="container">
      <div class="card" *ngFor="let item of obs| async">
        <div class="content">
          <div class="imgBx">
            <img [src]="item.logo" />
          </div>
          <div class="contentBx">
            <h4>{{ item.name }}</h4>

        <button    (click)="onClicked(item)" >More Read!</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <mat-paginator     [hidePageSize]="hidePageSize" [pageSizeOptions]="[5, 10, 15,20,25]" >
  </mat-paginator>

  </div>
<!--[routerLink]="['/home/details-startup']"-->
