<section>
  <div class="container">
    <div class="card">
      <i
        style="background-color: rgb(24, 66, 38)"
        class="bi bi-fingerprint"
      ></i>
      <div class="card-container">
        <h3>Security</h3>
        <div>
          Gateway to the Jordanian Entrepreneurship Ecosystem is Jordans.
        </div>
      </div>
    </div>
    <div class="card">
      <i
        style="background-color: rgb(197, 54, 54)"
        class="bi bi-currency-dollar"
      ></i>
      <div class="card-container">
        <h3>Free</h3>
        <div>Rrgistring Here is Free.</div>
      </div>
    </div>
    <div class="card">
      <i style="background-color: rgb(243, 232, 71)" class="bi bi-share"></i>
      <div class="card-container">
        <h3>Share</h3>
        <div class="text-service">Sharing & Communication With Companies.</div>
      </div>
    </div>
  </div>
</section>





<section [attr.id]="'about-section'">
  <div class="about-left">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/angular-c4826.appspot.com/o/jordan-map.webp?alt=media&token=805936a3-a3a1-4d4d-8334-b13fb5a009be"
      width="300px"
      style="margin-bottom: 20px"
    />
  </div>

  <div class="about-right">
    <h1>About Us</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis fugiat a
      dolorem at similique maxime dolorum dolore enim dicta voluptatibus, illum
      recusandae, vel optio tempore ipsum incidunt eum. Aspernatur, repellendus.
    </p>
  </div>
</section>
