



<div    class="loader"
role="status" *ngIf= "loader"  >
  </div>
<div *ngIf="!loader">
<div class="overlay">
<img class="cover" src="https://firebasestorage.googleapis.com/v0/b/angular-c4826.appspot.com/o/Company-178447404.jpg?alt=media&token=7b51a7f9-01b3-483a-874c-b4140655a146" alt="">
<!--<h1>  {{startup.name}} </h1>-->
<h1 class="title">{{startup.name}} <a  (click)="onClicked()" >home</a></h1>

</div>

  <div class="content">
    <div class="head">
 <span>{{startup.name}} </span>
<img  class="logo" [src]="startup.logo" alt="loading... "></div>
<P>Describtion:</P> <span>{{startup.describtion}}</span>
<p>Email Address:</p><span>{{startup.emailAddress}}</span>
<p> City: </p><span>{{startup.city}} .</span>
<p>  Sectors: </p><span *ngFor="let item of startup.sectors"  >{{item.name}} .</span>
<p> Year Of Establish:</p><span>{{startup.yearOfEstablish}} </span>
<p> Number Of Employees:</p><span>{{startup.numberOfEmployees}} </span>
 <p>Website:</p> <span> <a href="{{startup.websiteUrl}}">Website</a> </span>
</div> <app-footer></app-footer></div>



