.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.full-width{
  width: auto;
}
.action-col{
  margin-inline-start: 10px;
  text-align:end;
flex: 1;
}
table{
  width: 100%;

}
hover{
  cursor: pointer;
}
