footer{
  background-color: rgb(124, 27, 72);
  color: #fff;
  font-size: 14px;
}
.row{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin: 0;
padding: 20px;


}
.col{
padding: 20px;
text-align: center;




}
@media (max-width: 700px)  {
  .row{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
}




