<!-- <footer  id="row" class="text-center text-lg-start bg-light text-muted"  >

  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

    <div class="me-5 d-none d-lg-block  p-4">
      <span>Shere With Us :</span>
    </div>

<share-buttons theme="circles-dark"
[include]="['facebook','linkedin', 'twitter', 'whatsapp' ]"
[showIcon]="true"
[showText]="false"
  url="https://rodrigo.kamada.com.br/"
 description="Angular Share Buttons"
 twitterAccount="rodrigokamada"
 class="">
</share-buttons>
  </section>

    <section class="text-center p-4">
      <h3 >Contact :</h3>
           <i  class="bi bi-envelope-at " ></i>
        shathaaldbee@gmail.com
       </section>

           <section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold">Shatha ALdebei</a>
    <h3> Capstone Project</h3>
  </div>
</section>
</footer>-->
<footer >

<div class="row" >

  <div class="col">
   Shere With Us :
   <div class="icons"> <share-buttons
[include]="['facebook','linkedin', 'twitter']"
[showIcon]="true"
[showText]="false"
url="https://rodrigo.kamada.com.br/"
 description="Angular Share Buttons"
 twitterAccount="rodrigokamada"

  >
</share-buttons></div>
  </div>


  <div class="col">
Contact:
    <h4> shathaaldbee@gmail.com</h4>
  </div>


  <div class="col">
 © 2023 Copyright:
    <a class="text-reset">Shatha ALdebei</a>
   <h3> Capstone Project</h3>
  </div>
</div>
</footer>
